<div class="modal fade" id="edit_review-{{ bean._id }}" tabindex="-1" aria-labelledby="edit_review-{{ bean._id }}"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <label for="bean_name" class="card-title strong">Edit Your Review
                    for </label>
                <input type="text" id="bean_name-{{ bean._id }}" name="bean_name"
                    class="form-control-plaintext card-title strong text-light" placeholder="Coffee Name"
                    data-bs-toggle="tooltip" data-bs-placement="top" title="Name of the coffee bean you are reviewing"
                    value="{{ bean.bean_name }}">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card border-0">
                    <div class="row g-0">
                        <div class="col-md-4 card-body">
                            <img src="{{ bean.bean_image }}" class="rounded img-fluid"
                                alt="An image of {{ bean.bean_name }} coffee">
                            <p><label for="bean_image" class="mb-1 disbaled d-none"
                                    id="bean_imageLabel-{{ bean._id }}">Link an
                                    image of the
                                    coffee</label>
                                <input type="text" id="bean_imageEdit-{{ bean._id }}" name="bean_image"
                                    class="form-control mb-3 disabled d-none"
                                    placeholder="Add a link to an image of this coffee" aria-label="bean_image"
                                    aria-describedby="bean_image" value="{{ bean.bean_image }}">
                                <input class="form-check-input" type="checkbox" id="imageUrl-{{ bean._id }}">
                                <label class="form-check-label" for="imageUrl">Tick
                                    here if you have an image link</label>
                            </p>
                            <label for="affialiate_link" class="disabled d-none"><small>Available to
                                    buy: </small></label>
                            <input type="text" id="affialiate_link-{{ bean._id }}" name="affialiate_link"
                                class="form-control mb-1 disabled d-none"
                                placeholder="Add a link to where this can be purchased" aria-label="purchase URl"
                                aria-describedby="affialiate_link-{{ bean._id }}" value="{{ bean.affialiate_link }}">
                        </div>
                        <div class="col-md-8">
                            <div class="row card-body">
                                <div class="col-md-6 mb-1">
                                    <label for="bean_rating"><strong>Rating:
                                        </strong></label>
                                    <span class="block">
                                        {% for count in range(bean.bean_rating|int)
                                                                        %} {{ rating }}
                                        {% endfor %}
                                    </span>
                                </div>
                                <div class="col-md-6 mb-1">
                                    <label for="bean_roast"> <strong>Roast:
                                        </strong></label>

                                    <select class="form-select form-select-md" id="bean_roast-{{ bean._id }}"
                                        name="bean_roast" aria-label="bean roast selection" data-bs-toggle="tooltip"
                                        data-bs-placement="left" title="Light/Medium/Dark">
                                        {% for roast in roasts %}
                                        {% if loop.first %}
                                        <option value="{{ roast.bean_roast }}" selected>
                                            {{ bean.bean_roast }}</option>
                                        {% endif %}
                                        <option value="{{ roast.bean_roast }}">
                                            {{ roast.bean_roast }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-6 mb-1"><label for="brew_type"><strong>Brew Type:
                                        </strong></label>
                                    <input type="text" id="brew_type-{{ bean._id }}" name="brew_type"
                                        class="form-control-plaintext" placeholder="Brew Type"
                                        aria-label="How this coffee is brewed" data-bs-toggle="tooltip"
                                        data-bs-placement="left" title="Filter? Espresso Machine? Cafetiere?"
                                        value="{{ bean.brew_type }}">
                                </div>
                                <div class="col-md-6 mb-1"><strong>Type:</strong>
                                    <select class="form-select form-select-md" id="origin_type-{{ bean._id }}"
                                        name="origin_type" aria-label="origin type selection" required>
                                        {% for origin in origins %}
                                        {% if loop.first %}
                                        <option value="{{ origin.origin_type }}" selected>
                                            {{ bean.origin_type }}</option>
                                        {% endif %}
                                        <option value="{{ origin.origin_type }}">
                                            {{ origin.origin_type }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-6"><label for="bean_origin"><strong>Coffee Origin:
                                        </strong></label>
                                    <input type="text" id="bean_origin-{{ bean._id }}" name="bean_origin"
                                        class="form-control-plaintext" placeholder="Coffee Origin"
                                        data-bs-toggle="tooltip" data-bs-placement="left"
                                        title="The magical land this coffee hails from" value="{{ bean.bean_origin }}">
                                </div>
                            </div>
                            <div class="card-body">
                                <label for="bean_description">
                                    <strong class="h6">Description</strong>
                                </label>
                                <textarea class="form-control-plaintext" id="bean_description-{{ bean._id }}"
                                    name="bean_description" placeholder="Your Review of your chosen coffee"
                                    data-bs-toggle="tooltip" data-bs-placement="bottom"
                                    title="Resize this box from the bottom right"
                                    required>{{ bean.bean_description }}</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer border-0">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Exit
                    without Saving</button>
                <button type="Submit" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>