
  <!--Newsletter Modal -->
  <div class="modal fade" id="newsletter" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="newsletterLabel">Sign Up to Our Newsletter</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form id="newsletter-form" method="POST" action="{{ url_for('newsletter_form') }}" onsubmit="emailjs.sendForm('service_ldfr7wv', 'newsletter', this); return true">
            <p class="fs-6 text-light">Signing up to our Newsletter keeps you up to date with the latest grinds and promotions with our partners!</p>
            <div class="mb-3">
                <label for="nameInput" class="form-label">Name:</label>
                <input type="text" class="form-control" id="nameInput" name="user_name" placeholder="Your Good Name" required>
              </div>
              <div class="mb-3">
                <label for="emailInput" class="form-label">Email Address:</label>
                <input type="email" class="form-control" id="emailInput" name="user_email" placeholder="Your Email Address" required>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="newsletterSub" required>
                <label class="form-check-label" for="newsletterSub">
                  I agree to receive content and promotions from The Trusted Barista!
                </label>
              </div>
        </div>
        <div class="modal-footer border-0">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No Thanks</button>
          <button type="submit" id="submitnewsletter" class="btn btn-success">Sign Me Up!</button>
        </form>
        </div>
      </div>
    </div>
  </div>