<div class="row container mt-2">
    <div class="col-md-6">
        <form class="d-flex" method="POST" action="{{ url_for('search') }}">
            <input class="form-control me-2" type="search" placeholder="Search" id="query" name="query" minlength="3"
                aria-label="Search" required>
            <button class="btn btn-outline-success" type="submit">Search</button>
            <a class="btn btn-secondary mx-2" href="{{ url_for('reviews') }}" role="button">Clear</a>
        </form>
    </div>
</div>