{% extends "base.html" %}
{% block content %}
<div class="row mt-5">
    <div class="col-sm-8 ml-4">
        <h1>Admin Panel</h1>
    </div>
</div>
<div class="row">
    
    <div class="col-md-6 mt-2">
    <ol class="list-group list-group-numbered">
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Statistics</div>
            <hr>
            <div class="fw-bold">Total Users: {{ users|length }}</div>
            <div class="fw-bold">Total Reviews: {{ beans|length }}</div>
            <hr>
            {% for user in users %}
            <div class="fw-bold">User: {{ user.username|title }}</div>
            <p><strong class="pe-2">Email:</strong>{{ user.email }}</p>
            <p><strong class="pe-2">Signed Up:</strong>{{ user.signup_date.strftime("%d %B, %Y") }}</p>
            <p><strong class="pe-2">Newsletter:</strong>  {{ user.newsletter_check }}</p>
            <p><strong class="pe-2">Admin:</strong>  {{ user.is_admin }}</p>
            <a class="btn btn-danger" href="{{ url_for('delete_account', user_id=user._id) }}" role="button">Delete Account</a>
            <hr>
            {% endfor %}
          </div>
        </li>
      </ol>
    </div>
    
</div>
{% endblock %}