{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-sm-8 ml-4">
            <h1>My Profile</h1>
        </div>
        <div class="col-sm-2 offset-md-2">
                <a class="btn btn-secondary" href="{{ url_for('logout') }}" role="button">Logout</a>
            </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-5 col-sm-12 offset-md-1">
            <div class="card">
                <img src="https://www.hpnutrition.ie/image/cache/catalog/Costa%20Coffee/Costa-Coffee-Beans-Signature-Blend-DARK-Roast-500G-350x350.jpg"
                    class="rounded img-fluid card-img-top" alt="...">
                <div class="card-body row">
                    <div class="col-md-6 col-sm-6">
                        <h5 class="card-title">{{ username.username }}'s Profile</h5>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <p class="mb-0"><small class="text-muted">Sign-up: {{ username.signup_date }}</small></p>
                        <p><small class="text-muted">Last Login: {{ username.last_login }}</small></p>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Existing username"
                            aria-label="Recipient's username" aria-describedby="button-addon2">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Edit</button>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Existing Password"
                            aria-label="Recipient's username" aria-describedby="button-addon2">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Edit</button>
                    </div>
                    <div class="form-check form-switch row mb-2">
                        <div class="col-md-8 offset-md-2">
                            <label class="form-check-label" for="flexSwitchCheckChecked">Newsletter Subscription:
                            </label>
                            <input class="form-check-input float-end" type="checkbox" id="flexSwitchCheckChecked"
                                checked>
                        </div>
                    </div>
                    <a href="#" class="rounded btn btn-secondary">Save Changes</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-header">
                   <h5 class="card-title">My Reviews</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">Users reviews will be generated here</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}