{% extends "base.html" %}
{% set active_page = "profile" %}
{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-sm-8 ml-4">
            <h1>My Profile</h1>
        </div>
        <div class="col-sm-2 offset-md-2">
            <a class="btn btn-orange" href="{{ url_for('logout') }}" role="button">Logout</a>
        </div>
    </div>

    <div class="row mt-5">

        <div class="col-md-5 col-sm-12 offset-md-1 mb-3 py-2">
            <div class="card">
                <img src="https://www.hpnutrition.ie/image/cache/catalog/Costa%20Coffee/Costa-Coffee-Beans-Signature-Blend-DARK-Roast-500G-350x350.jpg"
                    class="rounded img-fluid card-img-top" alt="...">
                <div class="card-body row">
                    <div class="col-md-6 col-sm-6">
                        <h5 class="card-title">{{ username.username }}'s Profile</h5>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <p class="mb-0"><small class="text-muted">Sign-up: {{ username.signup_date.strftime("%d %B, %Y") }}</small></p>
                        <p><small class="text-muted">Last Login: {{ username.last_login.strftime("%d %B, %Y") }}</small></p>
                    </div>
                    <form method="POST" action="{{ url_for('update') }}">
                        <div class="input-group mb-3">
                            <input type="text" id="current_username" name="current_username" class="form-control"
                                placeholder="Existing username" aria-label="current username"
                                aria-describedby="edit-current-username" value="{{ username.username }}">
                            <button class="btn btn-outline-secondary" type="button" id="edit-current-username"
                                data-bs-toggle="modal" data-bs-target="#confirmPassword">Edit</button>
                        </div>
                        <div class="modal fade" id="confirmPassword" tabindex="-1"
                            aria-labelledby="confirmPasswordLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="confirmPasswordLabel">Confirm Your Password to Make
                                            Changes</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body input-group">
                                        <input type="password" id="current_password" name="current_password"
                                            class="form-control" placeholder="Enter Existing Password"
                                            aria-label="Current Password" aria-describedby="edit-current-password"
                                            required>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger"
                                            data-bs-dismiss="modal">Cancel</button>
                                        <button type="submit" class="btn btn-success" id="submit">Save
                                            changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <form method="POST" action="{{ url_for('update_pw') }}">
                        <div class="input-group mb-3">
                            <input type="password" id="new_password" name="new_password" class="form-control"
                                placeholder="New Password" aria-label="New Password"
                                aria-describedby="set-new-password">
                            <button class="btn btn-outline-secondary" type="submit" id="submit">Edit</button>
                        </div>
                    </form>
                    <form method="POST" action="{{ url_for('newsletter_sub') }}">
                        <div class="form-check form-switch row mb-2">
                            <div class="col-md-8 offset-md-2">
                                <label class="form-check-label pe-3" for="subscription">Newsletter Subscription:
                                </label>
                                <input class="form-check-input float-end" type="checkbox" id="subscription"
                                    name="subscription" data-bs-toggle="modal" data-bs-target="#unsubscribe"
                                    {{ username.newsletter_check }}>
                            </div>
                        </div>

                        <div class="modal fade" id="unsubscribe" data-bs-backdrop="static" tabindex="-1"
                            aria-labelledby="confirmUnsubscribeLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="confirmUnsubscribeLabel">Unsubscribe from Newsletter
                                        </h5>
                                        <button type="button" class="btn-close" id="unsubClose" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body input-group">
                                        <p>Are you sure you want to turn <strong>off</strong> your Newsletter
                                            Subscription?</p>
                                        <p>Doing so may cause you to loose out on special offers only available to
                                            subscribers of The Trusted Barista Newsletter!</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-success" id="unsubCancel"
                                            data-bs-dismiss="modal">Cancel</button>
                                        <button type="submit" class="btn btn-danger" id="submit">Save
                                            changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal fade" id="subscribe" data-bs-backdrop="static" tabindex="-1"
                            aria-labelledby="confirmSubscribeLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="confirmSubscribeLabel">Subscribe to Newsletter</h5>
                                        <button type="button" class="btn-close" id="subClose" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body input-group">
                                        <p>Awesome!! Hit <strong>Save</strong> below to subscribe and avail of special
                                            offers only available to subscribers of The Trusted Barista Newsletter!</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" id="subCancel"
                                            data-bs-dismiss="modal">Cancel</button>
                                        <button type="submit" class="btn btn-success" id="submit">Save
                                            changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3 mh">
                <div class="card-header sticky-top">
                    <h5 class="card-title">My Reviews</h5>
                </div>
                {% if my_reviews|length > 0 %}
                {% for reviews in my_reviews %}
                <div class="card-body">
                    <p class="card-text"><a
                            href="{{ url_for('reviews') }}#nav-home-{{ reviews._id }}">{{ reviews.bean_name }}</a></p>
                </div>
                {% endfor %}
                {% else %}
                <div class="card-body">
                    <p class="card-text">You haven't left any reviews yet! Why not <a
                            href="{{ url_for('reviews') }}#writeReviewToggle">add one now?</a></p>
                </div>
                {% endif %}
            </div>

            <div class="col-md-12">
                <div class="card mb-3 mh">
                    <div class="card-header sticky-top">
                        <h5 class="card-title">My Favourites</h5>
                    </div>
                    {% if username.favourites|length > 1 %}
                    {% for favourite in favourites %}
                    <div class="card-body">
                        <p class="card-text"><a
                                href="{{ url_for('reviews') }}#nav-home-{{ favourite._id }}">{{ favourite.bean_name }}</a>
                        </p>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="card-body">
                        <p class="card-text">You haven't added any favourite reviews yet! Check out some <a
                                href="{{ url_for('reviews') }}">Reviews</a> now to add one!</p>
                    </div>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
</div>
{% block scripts %}
<script src="{{ url_for('static', filename='js/profile.js') }}"></script>
{% endblock %}
{% endblock %}