{% extends "base.html" %}
{% block content %}
<main>
    <div class="container">
        <div class="row mt-5">
            <div class="col-sm-8 ml-4">
                <h1>Reviews</h1>
            </div>
            <!--Write Review Modal Button-->
            {% if session.user %}
            <div class="col-sm-2 offset-md-2">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                    data-bs-target="#writeReviewToggle">Write
                    Review!</button>
            </div>
            <!--POST form-->
            <form method="POST" action="{{ url_for('add_review') }}">
                <!--Modal pop up-->
                <div class="modal fade" id="writeReviewToggle" aria-hidden="true"
                    aria-labelledby="writeReviewToggleLabel" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="writeReviewToggleLabel">Leave a Review</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row mb-2">
                                    <div class="col">
                                        <!--title of coffee input-->
                                        <label for="bean_name">Review Title</label>
                                        <input type="text" id="bean_name" name="bean_name" class="form-control"
                                            placeholder="Coffee Name" data-bs-toggle="tooltip" data-bs-placement="top"
                                            title="Name of the coffee bean you are reviewing">

                                    </div>
                                </div>
                                <div class="row g-3 mb-2">
                                    <div class="col">
                                        <!--roast type input-->
                                        <label for="bean_roast">Roast Type</label>
                                        <input type="text" id="bean_roast" name="bean_roast" class="form-control"
                                            placeholder="Coffee Roast" data-bs-toggle="tooltip" data-bs-placement="left"
                                            title="Light/Medium/Dark">
                                    </div>
                                    <div class="col">
                                        <!--rating input-->
                                        <label for="bean_rating">Rating</label>
                                        <input type="text" id="bean_rating" name="bean_rating" class="form-control"
                                            placeholder="Coffee Rating" aria-label="Rate the coffee"
                                            data-bs-toggle="tooltip" data-bs-placement="right" title="Out of 5">
                                    </div>
                                </div>
                                <div class="row g-3 mb-2">
                                    <div class="col">
                                        <!--coffee origin input-->
                                        <label for="bean_origin">Coffee Origin</label>
                                        <input type="text" id="bean_origin" name="bean_origin" class="form-control"
                                            placeholder="Coffee Origin" data-bs-toggle="tooltip"
                                            data-bs-placement="left" title="The magical land this coffee hails from">
                                    </div>
                                    <div class="col">
                                        <!--brew selection input-->
                                        <label for="brew_type">Brew Type</label>
                                        <input type="text" id="brew_type" name="brew_type" class="form-control"
                                            placeholder="Brew Type" aria-label="How this coffee is brewed"
                                            data-bs-toggle="tooltip" data-bs-placement="right"
                                            title="Filter? Espresso Machine? Cafetiere?">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <!--Description of coffee input-->
                                        <label for="bean_description">Tell us about this Coffee</label>
                                        <textarea class="form-control" id="bean_description" name="bean_description"
                                            placeholder="Your Review of your chosen coffee" data-bs-toggle="tooltip"
                                            data-bs-placement="bottom"
                                            title="If you needed this tooltip, then you need more coffee!"
                                            required></textarea>
                                    </div>
                                </div>
                            </div>
                            <!--Next modal pop up button-->
                            <div class="modal-footer">
                                <button class="btn btn-primary" data-bs-target="#writeReviewToggle2"
                                    data-bs-toggle="modal" data-bs-dismiss="modal"
                                    aria-label="Continue to next form">Continue</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="writeReviewToggle2" aria-hidden="true"
                    aria-labelledby="writeReviewToggleLabel2" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="writeReviewToggleLabel2">Leave a Review</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="input-group mb-3">
                                    <div class="row">
                                        <!--Image link input-->
                                        <div class="col-md-12">
                                            <label for="bean_image" class="mb-1">Link an image of the coffee</label>
                                            <input type="text" id="bean_image" name="bean_image"
                                                class="form-control mb-3"
                                                placeholder="Add a link to an image of this coffee"
                                                aria-label="product image URl" aria-describedby="productimage"></div>
                                        <!--Affialiate link input-->
                                        <div class="input-group">
                                            <div class="col-md-12">
                                                <label for="affialiate_link">Purchase link for this Coffee</label>
                                                <input type="text" id="affialiate_link" name="affialiate_link"
                                                    class="form-control mb-1"
                                                    placeholder="Add a link to where this can be purchased"
                                                    aria-label="purchase URl" aria-describedby="purchaselink"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Next modal pop up button-->
                            <div class="modal-footer">
                                <button class="btn btn-primary" data-bs-target="#writeReviewToggle3"
                                    data-bs-toggle="modal" data-bs-dismiss="modal">Continue</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="writeReviewToggle3" aria-hidden="true"
                    aria-labelledby="writeReviewToggleLabel3" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="writeReviewToggleLabel3">Confirm Your Review</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <h6 class="card-subtitle mb-2 text-muted">Confirm you're happy with your review or make
                                    changes!</h6>
                                <div class="row">
                                    <div class="col-md-3">name here</div>
                                    <div class="col-12">
                                        <button type="submit" class="btn btn-primary">Submit Review</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!--End Modal-->
            </form>
            {% endif %}
            {% for bean in beans %}
            <div class="row mt-5">
                <div class="col-sm-8 offset-sm-2">
                    <div class="card w-75 mt-3">
                        <div class="card-header strong row">
                            <h4>{{ bean.bean_name }}</h4>
                            {% if session.user|lower == bean.created_by|lower %}
                            <div class="col-6">
                            <a class="btn btn-primary" href="{{ url_for('edit_review', bean_id=bean._id) }}"
                                role="button" data-bs-toggle="modal"
                                data-bs-target="#edit_review-{{ bean._id }}">Edit</a>
                                <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                data-bs-target="#delete_review-{{ bean._id }}">Delete</button>
                                </div>
                                <div class="col d-grid gap-2 d-md-flex justify-content-md-end"><a class="btn btn-primary" href="{{ url_for('favourite', bean_id=bean._id) }}" role="button">Fav</a></div>
                            {% endif %}
                        </div>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-home-{{ bean._id }}" type="button" role="tab"
                                aria-controls="nav-home" aria-selected="true">Review</button>
                            <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-profile-{{ bean._id }}" type="button" role="tab"
                                aria-controls="nav-profile" aria-selected="false">Q & A</button>
                            <div class="nav nav-tabs col-md-6 justify-content-end" id="nav-tab" role="tablist">
                                <!--Delete Review Modal-->
                                <div class="modal fade" id="delete_review-{{ bean._id }}" tabindex="-1"
                                    aria-labelledby="delete_reviewLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header"><h5 class="modal-title strong">Are you sure you want to Delete your review for:</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body"><strong>{{ bean.bean_name }}</strong></div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                                <a class="btn btn-danger" href="{{ url_for('delete_review', bean_id=bean._id) }}"
                                role="button">Delete</a>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                                <!--End Delete Review Modal-->
                                <!--Edit Review Modal-->
                                <form method="POST" action="{{ url_for('edit_review', bean_id=bean._id) }}">
                                    <div class="modal fade" id="edit_review-{{ bean._id }}" tabindex="-1"
                                        aria-labelledby="edit_reviewLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <label for="bean_name" class="card-title strong">Edit Your Review
                                                        for </label>
                                                    <input type="text" id="bean_name" name="bean_name"
                                                        class="form-control-plaintext card-title strong"
                                                        placeholder="Coffee Name" data-bs-toggle="tooltip"
                                                        data-bs-placement="top"
                                                        title="Name of the coffee bean you are reviewing"
                                                        value="{{ bean.bean_name }}">
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="card">
                                                        <div class="row g-0">
                                                            <div class="col-md-4 card-body">
                                                                <img src="{{ bean.bean_image }}"
                                                                    class="rounded img-fluid"
                                                                    alt="An image of {{ bean.bean_name }} coffee">
                                                                <p>
                                                                    <label for="affialiate_link"><small>Available to
                                                                            buy: </small></label>
                                                                    <input type="text" id="affialiate_link"
                                                                        name="affialiate_link" class="form-control mb-1"
                                                                        placeholder="Add a link to where this can be purchased"
                                                                        aria-label="purchase URl"
                                                                        aria-describedby="purchaselink"
                                                                        value="{{ bean.affialiate_link }}">
                                                            </div>
                                                            <div class="col-md-8">
                                                                <div class="row card-body">
                                                                    <div class="col-md-6 mb-1">
                                                                        <label for="bean_rating"><strong>Rating:
                                                                            </strong></label>
                                                                        <input type="text" id="bean_rating"
                                                                            name="bean_rating"
                                                                            class="form-control-plaintext"
                                                                            placeholder="Coffee Rating"
                                                                            aria-label="Rate the coffee"
                                                                            data-bs-toggle="tooltip"
                                                                            data-bs-placement="top" title="Out of 5"
                                                                            value="{{ bean.bean_rating }}">
                                                                    </div>
                                                                    <div class="col-md-6 mb-1">
                                                                        <label for="bean_roast"> <strong>Roast:
                                                                            </strong></label>
                                                                        <input type="text" id="bean_roast"
                                                                            name="bean_roast"
                                                                            class="form-control-plaintext"
                                                                            value="{{ bean.bean_roast }}"
                                                                            data-bs-toggle="tooltip"
                                                                            data-bs-placement="right"
                                                                            title="Light/Medium/Dark">
                                                                    </div>
                                                                    <div class="col-md-6 mb-1"><label
                                                                            for="brew_type"><strong>Brew Type:
                                                                            </strong></label>
                                                                        <input type="text" id="brew_type"
                                                                            name="brew_type"
                                                                            class="form-control-plaintext"
                                                                            placeholder="Brew Type"
                                                                            aria-label="How this coffee is brewed"
                                                                            data-bs-toggle="tooltip"
                                                                            data-bs-placement="left"
                                                                            title="Filter? Espresso Machine? Cafetiere?"
                                                                            value="{{ bean.brew_type }}">
                                                                    </div>
                                                                    <div class="col-md-6 mb-1"><strong>Type:
                                                                        </strong>{{ bean.origin_type }}
                                                                    </div>
                                                                    <div class="col-md-6"><label
                                                                            for="bean_origin"><strong>Coffee Origin:
                                                                            </strong></label>
                                                                        <input type="text" id="bean_origin"
                                                                            name="bean_origin"
                                                                            class="form-control-plaintext"
                                                                            placeholder="Coffee Origin"
                                                                            data-bs-toggle="tooltip"
                                                                            data-bs-placement="left"
                                                                            title="The magical land this coffee hails from"
                                                                            value="{{ bean.bean_origin }}">
                                                                    </div>
                                                                </div>
                                                                <div class="card-body">
                                                                    <label for="bean_description">
                                                                        <h6><strong>Description</strong></h6>
                                                                    </label>
                                                                    <textarea class="form-control-plaintext"
                                                                        id="bean_description" name="bean_description"
                                                                        placeholder="Your Review of your chosen coffee"
                                                                        data-bs-toggle="tooltip"
                                                                        data-bs-placement="bottom"
                                                                        title="Resize this box from the bottom right"
                                                                        required>{{ bean.bean_description }}</textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">Exit without Saving</button>
                                                    <button type="Submit" class="btn btn-primary">Save changes</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <!--End Edit Review Modal-->

                            </div>
                            <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade show active pl-5" id="nav-home-{{ bean._id }}" role="tabpanel"
                                    aria-labelledby="nav-home-tab">
                                    <div class="card">
                                        <div class="row g-0">
                                            <div class="col-md-4 card-body">
                                                <img src="{{ bean.bean_image }}" class="rounded img-fluid"
                                                    alt="An image of {{ bean.bean_name }} coffee">
                                                <p><strong><small>Available to buy <a href="{{ bean.affialiate_link }}"
                                                                target="_blank">Here</a></small></strong></p>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="row card-body">
                                                    <div class="col-md-6 mb-1"><strong>Rating:
                                                        </strong>{{ bean.bean_rating }}</div>
                                                    <div class="col-md-6 mb-1"><strong>Roast:
                                                        </strong>{{ bean.bean_roast }}
                                                    </div>
                                                    <div class="col-md-6 mb-1"><strong>Brew:
                                                        </strong>{{ bean.brew_type }}
                                                    </div>
                                                    <div class="col-md-6 mb-1"><strong>Type:
                                                        </strong>{{ bean.origin_type }}
                                                    </div>
                                                    <div class="col-md-6"><strong>Origin:
                                                        </strong>{{ bean.bean_origin }}
                                                    </div>
                                                </div>
                                                <div class="card-body">
                                                    <h6><strong>Description</strong></h6>
                                                    <p class="card-text">{{ bean.bean_description }}</p>
                                                    <p class="card-text"><strong><small>Reviewed by:
                                                            </small></strong><small
                                                            class="text-muted">{{ bean.created_by }}</small></p>
                                                    <p class="card-text"><strong><small>Last Updated:
                                                            </small></strong><small
                                                            class="text-muted">{{ bean.created_date }}</small></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="nav-profile-{{ bean._id }}" role="tabpanel"
                                    aria-labelledby="nav-profile-tab">Comments
                                    here</div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endblock %}